/* 多行文字超出显示省略号 */
.elliptical {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.box {
  display: flex;
}

.daohanglan {
  position: fixed;
  left: 0;
  top: 0;
  width: 205px;
  height: 100vh;
  background-color: #eff3f6;
  z-index: 100;
  overflow-y: auto;
  /* 隐藏滚动条但保持滚动功能 */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

/* 隐藏滚动条（Chrome, Safari, Opera） */
.daohanglan::-webkit-scrollbar {
  display: none;
}

/* 鼠标悬停时显示滚动条 */
.daohanglan:hover {
  scrollbar-width: thin;
  /* Firefox */
  -ms-overflow-style: auto;
  /* IE and Edge */
}

.daohanglan:hover::-webkit-scrollbar {
  display: block;
  width: 6px;
}

.daohanglan:hover::-webkit-scrollbar-track {
  background: #eff3f6;
}

.daohanglan:hover::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.daohanglan:hover::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.box-right {
  margin-left: 205px;
  margin-top: 56px;
  width: calc(100% - 205px);
  min-height: calc(100vh - 56px);
  background-color: #f6f9fc;
}

.daohanglan .logo {
  width: 200px;
  height: 88px;
  background: url(../img/logo.png) no-repeat 0px 10px;

}

.daohanglan .logo h1 {
  width: 100%;
  height: 100%;
}

.daohanglan .logo a {
  width: 100%;
  height: 100%;
  display: block;
  text-indent: -999px;
  overflow: hidden;
}

.nav li {
  line-height: 36px;
  font-size: 14px;
  /* background-color: pink; */
}

.nav li i {
  margin-right: 7px;
  font-size: 17px;
}

.nav li a {
  display: block;
  width: 164px;
  height: 36px;
  padding-left: 8px;
  margin: 0 0 2px 22.5px;
  border-radius: 10px;
}

.nav a:hover {
  background-color: #ccc;
}

.nav a:focus {
  background-color: #ff1e34;
  color: #fff;
}

.line {
  width: 164px;
  height: 2px;
  margin-left: 22.5px;
  margin-top: 12px;
  margin-bottom: 15px;
  background-color: #e3e8ec;
}

.my li:first-child {
  font-size: 13px;
  width: 164px;
  height: 36px;
  padding-left: 8px;
  line-height: 36px;
  margin: 0 0 2px 22.5px;
  color: #afb6c0;
}

.my li i {
  margin-right: 7px;
  font-size: 19px;
}

.my .one a {
  display: block;
  width: 164px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  padding-left: 8px;
  margin: 0 0 2px 22.5px;
  border-radius: 10px;
}

.my .more a {
  font-size: 13px;
  padding-left: 8px;
  margin: 0 0 2px 26.5px;
  color: #afb6c0;
}

.my .more a:hover {
  color: #394559;
}

.my .more i {
  margin-right: 10px;
}

.my .one a:hover {
  background-color: #ccc;
}

.my .one a:focus {
  background-color: #ff1e34;
  color: #fff;
}

.my .more i {
  font-size: 12px;
}

.gedan .two:first-child {
  font-size: 13px;
  width: 164px;
  height: 36px;
  padding-left: 8px;
  line-height: 36px;
  margin: 0 0 2px 22.5px;
  color: #767f8d;
}

.gedan .one a {
  display: block;
  font-size: 14px;
  padding-left: 8px;
  margin: 0 0 16px 22.5px;
  color: #767f8d;
}

.gedan .one a:hover {
  color: #394559;
}

.gedan .two a {
  display: block;
  width: 164px;
  height: 36px;
  font-size: 14px;
  line-height: 36px;
  padding-left: 8px;
  margin: 0 0 2px 22.5px;
  border-radius: 10px;
}

.gedan .two a:hover {
  background-color: #ccc;
}

.gedan .two a:focus {
  background-color: #ff1e34;
  color: #fff;
}

.gedan .two img {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  margin-right: 10px;
}

/* 顶部导航栏部分 */
.box-bod {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 205px);
  height: 56px;
  line-height: 56px;
  background-color: #f6f9fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  align-items: center;
}

.nav-right {
  margin-right: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 搜索部分 */
.box-bod .search ul {
  width: 338px;
  height: 36px;
  margin-left: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-bod .search input {
  /* position: relative; */
  padding-left: 46px;
  margin-bottom: 12px;
}

.box-bod .search li:first-child {
  width: 28px;
  height: 36px;
  border-radius: 10px;
  border: #e1e5e9 1px solid;
}

.box-bod .search li:first-child a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 36px;
}

.box-bod .search li:nth-child(2) {
  position: relative;
}

.box-bod .search :nth-child(2) i {
  position: absolute;
  top: 2px;
  left: 13px;
  color: #888b9b;
  font-size: 24px;
}

.box-bod .search input {
  width: 258px;
  height: 36px;
  border-radius: 8px;
  border: #e1e5e9 1px solid;
  background: linear-gradient(to right, #d0e6f9, #fae2f2);
}

.box-bod .search li:last-child {
  width: 36px;
  height: 36px;
  border-radius: 10px;
  border: #e1e5e9 1px solid;
  background: linear-gradient(to right, #f5eff9, #fae2f2);
}

.box-bod .search li:last-child a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 36px;
}

.box-bod .search li:last-child i {
  font-size: 23px;
  color: #888b9b;
}

.user {
  width: 157px;
  height: 36px;

}

.user ul {
  line-height: 36px;
  display: flex;
  gap: 3px;
  justify-content: space-between;
  align-items: center;
}

.user li .one {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}

.user li .two {
  width: 56px;
  height: 16px;
}

.user li p {
  font-size: 14px;
  color: #636d7e;
  /* 文字超出部分省略号显示 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user li:last-child i {
  font-size: 16px;
  color: #888b9b;
}

.icon {
  width: 236px;
  height: 38px;
  margin-left: 20px;
}

.icon ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon ul li:nth-child(5) {
  width: 1px;
  height: 16px;
  background-color: #788290;
}

.icon ul i {
  font-size: 16px;
  color: #788290;
}

/* 播放栏部分 */
.progress-bar-container {
  width: 100%;
  height: 4px;
  background-color: #e0e0e0;
  position: fixed;
  bottom: 75px;
  left: 0;
  z-index: 102;
  overflow: hidden;
  cursor: pointer;
}

.progress-bar {
  width: 30%;
  height: 100%;
  background-color: #ff1e34;
  transition: width 0.3s ease;
}

.bofanglan {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 101;
  background-color: #fff;
  /* background-color: pink; */
}

.bofanglan .box-l {
  width: 338px;
  height: 100%;
  padding-left: 30px;
  padding-top: 10px;
  /* background-color: skyblue; */
}

.bofanglan .box-l ul {
  display: flex;
  align-items: center;
}

.bofanglan .box-l ul h4 {
  white-space: nowrap;
}

.bofanglan .box-l ul p {
  margin-top: 8px;
}

.bofanglan .box-l ul p a {
  font-size: 13px;
  color: #818a96;
}

.bofanglan .box-l ul li:first-child {
  margin-right: 10px;
}

.bofanglan .box-l ul li:nth-child(2) {
  margin-right: 55px;
}

.bofanglan .box-l ul li:nth-child(3),
.bofanglan .box-l ul li:nth-child(4) {
  margin-right: 20px;
}

.bofanglan .box-l ul i {
  font-size: 22px;
  color: #818a96;
}

.bofanglan .box-l ul i:hover {
  color: #212d41;
}

.bofanglan .box-l img {
  width: 61px;
  height: 61px;
  border-radius: 50%;
}

.bofanglan .box-c {
  width: 338px;
  height: 100%;
  /* background-color: skyblue; */
}

.bofanglan .box-c ul {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  line-height: 75px;
}

.bofanglan .box-c ul i {
  font-size: 24px;
  color: #818a96;
}

.bofanglan .box-c ul i:hover {
  color: #212d41;
}

.bofanglan .box-c ul .two {
  color: #4f5a6c;
}

.bofanglan .box-c ul .bofang {
  font-size: 38px;
  color: #f32640;
}

.bofanglan .box-c ul .bofang:hover {
  color: #ff1e34;
}

.bofanglan .box-r {
  width: 338px;
  height: 100%;
  padding-left: 90px;
  /* background-color: skyblue; */
}

.bofanglan .box-r ul {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  line-height: 75px;
}

.bofanglan .box-r ul i {
  font-size: 24px;
  color: #818a96;
}

.bofanglan .box-r ul i:hover {
  color: #212d41;
}

.bofanglan .box-r ul .one {
  line-height: 89px;
  font-size: 37px;
}

.bofanglan .box-r ul .two {
  font-size: 18px;
}

.bofanglan .box-r ul .five {
  font-size: 30px;
}